@charset "utf-8";
body h1 {
	color: #FF9800;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 40px;
}
.key {
	color: #FBFF77;
	background-color: #0D00FF;
}
body p img {
}
body p img {
}
body p {
}
body {
	background-image: url(%E8%83%8C%E6%99%AF.jpg);
}




body p img {
	border: 10px double #08FC00;


}
